body{font-family: sans-serif;
margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 70px;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{
    height: 80px ;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: aliceblue;
}
footer{
    display: flex;
    height: 50px;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}